<!DOCTYPE html>
<html>
<head>
    <title>{{{name}}} | {{{title}}}</title>
    <!--  Generated on {{{date}}} -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta property="og:image" content="./home-images/sencha-200.png" />
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta name="description" content="{{{striphtml classText}}}">
    {{#headhtml}}
        {{{.}}}
    {{/headhtml}}
</head>
<body>
<div id="header">
    <div class="logo"><a href="http://docs.sencha.com"><img src="./home-images/sencha_logo1x.png"/></a></div>
    <h2><a href="./index.html">{{{title}}}</a>
        <span id="menu-icon" class="menu-icon"></span>
        <span id="search-icon" class="search-icon"></span>
        <div id="peekaboo-input" class="peekaboo-input">
            <input type="text" id="mobile-input" />
        </div>
    </h2>
    <div class="search">
        <form autocomplete="off"><input type="text" type="search" placeholder="search" id="searchtext"></form>
    </div>
</div>
<div id="centerContent">
    <div id="class-tree-ct">
        <div id="tree-header">
            <div id="apiTab" class="toolbarHeaderButton active-tab">
                api docs
            </div>
            <div id="guideTab" class="toolbarHeaderButton">
                guides
            </div>
            <div id="hide-class-tree"></div>
        </div>
        <div id="tree-scroller">
            <div id="tree" class="tree-shown"></div>
            <div id="guide-tree" class="tree-shown hide"></div>
            <div class="other-resources">
                <div class="sub-header">
                    Resources
                </div>
                <ul class="resourceMenu">
                    <li>
                        <a href="./index.html">Api Docs</a>
                    </li>
                    <li>
                        <a href="./guides/index.html">Guides</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="rightMembers">
        <div id="member-toolbars">
            <div id="member-class-name">
                <h1 class='{{classType}}'><a href="{{{fileName}}}" target="_blank">{{{name}}}</a>
                    {{#classAlias}}
                        <span class='alias'>{{../aliasName}}: {{{.}}}</span>
                    {{/classAlias}}
                    {{#classAccess}}
                        <span class="member-tags"><span class="{{../classAccess}} full-flag">{{../classAccess}}</span></span>
                    {{/classAccess}}
                    {{#isDeprecated}}
                        <span class="member-tags"><span class="deprecated full-flag">deprecated</span></span>
                    {{/isDeprecated}}
                    {{#isRemoved}}
                        <span class="member-tags"><span class="removed full-flag">removed</span></span>
                    {{/isRemoved}}
                    {{#singleton}}
                        <span class='singleton'>singleton</span>
                    {{/singleton}}
                </h1>
            </div>
            <div id="member-display">
                <div class="member-access-display"><label><input id="publicCheckbox" type="checkbox" value="member-public" checked=true/>Public</label></div>
                <div class="member-access-display"><label><input id="protectedCheckbox" type="checkbox" value="member-protected"/>Protected</label></div>
                <div class="member-access-display"><label><input id="privateCheckbox" type="checkbox" value="member-private"/>Private</label></div>
            </div>
            <div id="toolbar">
                <!--<div id="toggle-class-tree">&nbsp;</div>-->
                <div id="show-membertypes">&nbsp;</div>
                <div id="member-types-menu" class="member-types-menu">
                {{#memberTypeGroups}}
                    {{#is $type "configs"}}
                         <a href="#configs" id="configs-button-link"><div id="configs-nav-btn" class="toolbarButton disabled">
                            configs
                            <div id="configs-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                    {{#is $type "properties"}}
                        <a href="#properties" id="properties-button-link"><div id="properties-nav-btn" class="toolbarButton disabled">
                            properties
                            <div id="properties-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                    {{#is $type "methods"}}
                        <a href="#methods" id="methods-button-link"><div id="methods-nav-btn" class="toolbarButton disabled">
                            methods
                            <div id="methods-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                    {{#is $type "events"}}
                        <a href="#events" id="events-button-link"><div id="events-nav-btn" class="toolbarButton disabled">
                            events
                            <div id="events-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                    {{#is $type "vars"}}
                        <a href="#vars" id="vars-button-link"><div id="vars-nav-btn" class="toolbarButton disabled">
                            theme variables
                            <div id="vars-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                    {{#is $type "sass-mixins"}}
                        <a href="#sass-mixins" id="sass-mixins-button-link"><div id="sass-mixins-nav-btn" class="toolbarButton disabled">
                            theme mixins
                            <div id="sass-mixins-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                {{/memberTypeGroups}}
                </div>
                <div class="memberFilter">
                    <input placeholder="Filter members..." type="search" id="member-filter-field" name="member-filter-field">
                </div>
            </div>
        </div>
        {{!-- <div id="member-toolbars-placeholder"></div> --}}
        <a href="#" id="back-to-top">top </a>
        <div id="class-body-wrap" class="class-body-wrap">
            <div class="classText">
                <div id="classHead" class="classHead">
                    <div class="classMetaHeader">
                        Related Classes <a id="related-classes" class="button" href="javascript:void(0);">collapse</a>
                    </div>
                    <div class="classMeta">
                        {{#if altNames}}
                            <div class="classMetaColumn">
                                <h3>Alternate Names</h3>
                                <p class="list">{{{altNames}}}</p>
                            </div>
                        {{/if}}
                        {{#if mixins}}
                            <div class="classMetaColumn">
                                <h3>Inherited Mixins</h3>
                                <p class="list">{{{mixins}}}</p>
                            </div>
                        {{/if}}
                        {{#if requires}}
                            <div class="classMetaColumn">
                                <h3>Requires</h3>
                                <p class="list">{{{requires}}}</p>
                            </div>
                        {{/if}}
                        {{#if extends}}
                            <div class="classMetaColumn">
                                <h3>Hierarchy</h3>
                                <p class="list">{{{extends}}}</p>
                            </div>
                        {{/if}}
                    </div>
                </div>
                {{#isDeprecated}}
                    {{#deprecatedMessage}}
                        <div class="deprecated-dec">This class has been <span class="member-tags"><span class="deprecated">deprecated</span>{{#deprecatedVersion}} since {{.}}{{/deprecatedVersion}}</span>
                            {{{.}}}</div>
                    {{/deprecatedMessage}}
                {{/isDeprecated}}
                {{#is classAccess "private"}}
                    <div class="privatecls-dec">
                        NOTE: This is a private utility class for internal use by the framework. Don't rely on its existence.
                    </div>
                {{/is}}
                {{#if classText}}
                    <h2>Summary</h2>
                    {{{classText}}}
                {{/if}}
            </div>
            <div class="no-visible-members-warning">No members found using the current filters</div>
            <div class="members">
                {{#memberTypeGroups}}
                    <div id="{{{$type}}}-ct">
                    <h2 id="{{{$type}}}" class="type">{{{$type}}}</h2>
                    <a name="{{{$type}}}"></a>
                    {{#items}}
                        {{> processMember}}  {{!-- process the member template --}}
                    {{/items}}
                    </div>
                {{/memberTypeGroups}}
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <p>
        <a href="https://www.facebook.com/senchainc/" target="_blank"><img class="social" src="./home-images/fb.png"/></a>
        <a href="https://www.linkedin.com/company/sencha-inc" target="_blank"><img class="social" src="./home-images/in.png"/></a>
        <a href="https://twitter.com/Sencha" target="_blank"><img class="social" src="./home-images/twt.png"/></a>
        {{{footer}}} | <a href='{{{docroot}}}sitemap.html'>sitemap</a>
    </p>
</div>
</body>
<script type="text/javascript">
    var ExtL = ExtL || {},
        isHome = false,
        isClassTemplate = true;
</script>
<script type="text/javascript" src="guides/js/guide-tree.js"></script>
<script type="text/javascript" src="js/tree.js"></script>
<script type="text/javascript" src="js/searchIndex.js"></script>
<script type="text/javascript" src="js/guideSearch.js"></script>
<script type="text/javascript" src="js/ace.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1396058-28', 'auto');
    ga('send', 'pageview');

</script>
</html>
