<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    {{#headhtml}}
        {{{.}}}
    {{/headhtml}}
</head>
<body class="{{#unless classAlias}}condensed-header{{/unless}}">
<div id="header">
    <h1 class='{{classType}}'>{{{name}}}
        {{#classAlias}}
            <span class='alias'>alias: {{{.}}}</span>
        {{/classAlias}}
        <span id="menu-icon" class="menu-icon"></span>
        <span id="search-icon" class="search-icon"></span>
        <div id="peekaboo-input" class="peekaboo-input">
            <input type="text" id="mobile-input" />
        </div>
    </h1>
    <div class="search">
        <form autocomplete="off"><input type="text" type="search" placeholder="search" id="searchtext"></form>
    </div>
    <div class="resourceLinks">
        <a href="./index.html"><div class="toolbarButton">
            api docs
            <div class="nav-btn-mask"></div>
        </div></a>
        <a href="./guides/index.html"><div class="toolbarButton">
            guides
            <div class="nav-btn-mask"></div>
        </div></a>
    </div>
</div>
<div id="centerContent">
    <div id="class-tree-ct" class="tree-hidden">
        <div id="tree-header">
            All Classes
            <div id="hide-class-tree"></div>
        </div>
        <div id="tree" class="tree-shown"></div>
        <div class="other-resources">
            <div class="sub-header">
                Resources
            </div>
            <ul class="resourceMenu">
                <li>
                    <a href="./index.html">Api Docs</a>
                </li>
                <li>
                    <a href="./guides/index.html">Guides</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="rightMembers">
        <div id="member-toolbars">
            <div id="member-display">
                <div class="member-access-display"><label><input id="publicCheckbox" type="checkbox" value="member-public" checked=true/>Public</label></div>
                <div class="member-access-display"><label><input id="protectedCheckbox" type="checkbox" value="member-protected"/>Protected</label></div>
                <div class="member-access-display"><label><input id="privateCheckbox" type="checkbox" value="member-private"/>Private</label></div>
            </div>
            <div id="toolbar">
                <div id="toggle-class-tree">&nbsp;</div>
                <div id="show-membertypes">&nbsp;</div>
                <div id="member-types-menu" class="member-types-menu">
                {{#memberTypeGroups}}
                    {{#is $type "configs"}}
                         <a href="#configs" id="configs-button-link"><div id="configs-nav-btn" class="toolbarButton">
                            configs
                            <div id="configs-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                    {{#is $type "properties"}}
                        <a href="#properties" id="properties-button-link"><div id="properties-nav-btn" class="toolbarButton">
                            properties
                            <div id="properties-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                    {{#is $type "methods"}}
                        <a href="#methods" id="methods-button-link"><div id="methods-nav-btn" class="toolbarButton">
                            methods
                            <div id="methods-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                    {{#is $type "events"}}
                        <a href="#events" id="events-button-link"><div id="events-nav-btn" class="toolbarButton">
                            events
                            <div id="events-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                    {{#is $type "vars"}}
                        <a href="#vars" id="vars-button-link"><div id="vars-nav-btn" class="toolbarButton">
                            css variables
                            <div id="vars-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                    {{#is $type "sass-mixins"}}
                        <a href="#sass-mixins" id="sass-mixins-button-link"><div id="sass-mixins-nav-btn" class="toolbarButton">
                            sass-mixins
                            <div id="sass-mixins-count" class="nav-btn-count"></div>
                            <div class="nav-btn-mask"></div>
                        </div></a>
                    {{/is}}
                {{/memberTypeGroups}}
                </div>
                <div class="memberFilter">
                    <input placeholder="Filter members..." type="search" id="box" name="box">
                </div>
            </div>
        </div>
        <div id="member-toolbars-placeholder"></div>
        <div class="classText">
            <div id="classHead" class="classHead">
                <div class="classMetaHeader">
                    Related Classes <a id="related-classes" class="button" href="javascript:void(0);"">collapse</a>
                </div>
                <div class="classMeta">
                    {{#if altNames}}
                        <div class="classMetaColumn">
                            <h3>Alternate Names</h3>
                            <p class="list">{{{altNames}}}</p>
                        </div>
                    {{/if}}
                    {{#if mixins}}
                        <div class="classMetaColumn">
                            <h3>Inherited Mixins</h3>
                            <p class="list">{{{mixins}}}</p>
                        </div>
                    {{/if}}
                    {{#if requires}}
                        <div class="classMetaColumn">
                            <h3>Requires</h3>
                            <p class="list">{{{requires}}}</p>
                        </div>
                    {{/if}}
                    {{#if extends}}
                        <div class="classMetaColumn">
                            <h3>Hierarchy</h3>
                            <p class="list">{{{extends}}}</p>
                        </div>
                    {{/if}}
                </div>
            </div>
            <h2>Summary</h2>{{{classText}}}
        </div>
        <div class="no-visible-members-warning">No members found using the current filters</div>
        <a href="#" id="back-to-top">top </a>
        <div class="members">
            {{#memberTypeGroups}}
                <div id="{{{$type}}}-ct">
                <h2 id="{{{$type}}}" class="type">{{{$type}}}</h2>
                <a name="{{{$type}}}"></a>
                {{#items}}
                    {{> processMember}}  {{!-- process the member template --}}
                {{/items}}
                </div>
            {{/memberTypeGroups}}
        </div>
    </div>
</div>
<div id="footer">{{{footer}}} Generated on {{{date}}}</a></div>
</body>
<script type="text/javascript">
    var ExtL = ExtL || {},
        isHome = false,
        isClassTemplate = true;
    ExtL.treeData = {{{tree}}};
</script>
<script type="text/javascript" src="js/ace.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</html>
