{{#unless hide}}
    <div class="classmembers member{{#access}}-{{{.}}}{{/access}} {{#if static}}isStatic{{else}}isNotStatic{{/if}} {{#is $type "config"}}{{#if required}}isRequired{{else}}isNotRequired{{/if}}{{/is}} {{#isInherited}}isInherited{{/isInherited}} {{#fromObject}}fromObject{{/fromObject}}" data-member-name="{{{name}}}" {{#accessor}} data-accessor="true"{{/accessor}}{{#inheritdoc}} data-inherited="true"{{/inheritdoc}}>
        <div class="member-tags">
            {{#setter}}
                <span class="bindable">bindable</span>
            {{/setter}}
            {{#chainable}}
                <span class="chainable">chainable</span>
            {{/chainable}}
            {{#deprecatedMessage}}
                <span class="deprecated">deprecated</span>
            {{/deprecatedMessage}}
            {{#autoSetter}}
                <span class="bindable">bindable</span>
            {{/autoSetter}}
            {{#preventable}}
                <span class="preventable">preventable</span>
            {{/preventable}}
            {{#readonly}}
                <span class="readonly">readonly</span>
            {{/readonly}}
            {{#static}}
                <span class="static">static</span>
            {{/static}}
            {{#required}}
                <span class="required">required</span>
            {{/required}}
            {{#template}}
                <span class="template">template</span>
            {{/template}}
            {{#access}}
                <span class="{{{.}}}">{{{.}}}</span>
            {{/access}}
        </div>
        <div class="source-class"><a href="{{srcClass}}.html">{{srcClass}}{{{srcLink}}}</a></div>
        <h2 id="{{{$type}}}-{{{name}}}" class="member-header">
        <a href="#{{{$type}}}-{{{name}}}" class="member-name">
            {{{name}}}
        </a>
        {{#if hasParams}}<span class="params-list"> ({{/if}}

        {{#items}}
            {{#is $type "param"}}
                {{#unless @first}}, {{/unless}}
                {{{name}}}
                {{#if @last}}
                    {{#is ../$type "event"}}, eOpts{{/is}}
                {{/if}}
            {{/is}}
        {{/items}}

        {{#if hasParams}}
        )</span>
        {{/if}}

        {{#items}}
        {{#is $type "return"}}
            : <span class="memberType">{{{type}}}</span>
        {{/is}}
        {{/items}}
        {{#type}}
            : <span class="memberType">{{{.}}}</span>
        {{/type}}
        </h2>
        {{#text}}
            <p>{{{.}}}</p>
        {{/text}}
        {{#exists value}}
            <p class="defaults-to-dec">Defaults to: {{{value}}}</p>
        {{/exists}}
        {{#since}}
            <p class="since-dec">Available since: {{{.}}}</p>
        {{/since}}
        {{#items}}
        {{#is $type "param"}}
        {{#if @first}}
            <h3 class="detail-header">Parameters</h3>
        {{/if}}

        <p><span class="params-list">{{{name}}}</span> :
        {{#if type}}
            <span class="memberType">&nbsp;{{{type}}}</span>
        {{else}}
            <span class="memberType">&nbsp;Object</span>
        {{/if}}

        </p>
        <p>{{{text}}}</p>
        {{/is}}

        {{#is $type "property"}}
            {{#unless @index}}
                <h3 class="detail-header">Properties</h3>
            {{/unless}}

            <p><span class="params-list">{{{name}}}</span> : <span class="memberType">{{{type}}}</span></p>
            <p>{{{text}}}</p>
        {{/is}}

        {{#is $type "return"}}
            <h3 class="detail-header">Returns</h3>
            <span style="margin-left:12px;" class="memberType">{{{type}}}</span>
            <p>{{{text}}}</p>
        {{/is}}

        {{#if @last}}

        {{#is ../$type "event"}}
            <p>eOpts : <span class="memberType"><a href="Object.html">Object</a></span></p>
            <p>The options object passed to <a href="Ext.util.Observable.html">Ext.util.Observable.addListener</a>.</p>
        {{/is}}
        {{/if}}
        {{/items}}
        {{#deprecatedMessage}}
            <p class="deprecated-dec">Deprecated: {{{.}}}</p>
        {{/deprecatedMessage}}
        {{#preventable}}
            <p class="preventable-dec">This action following this event is preventable. When any
        of the listeners returns false, the action is cancelled.</p>
        {{/preventable}}
        {{#removedVersion}}
            <p class="removed-dec">This method has been REMOVED since {{{.}}}</p>
        {{/removedVersion}}
        {{#template}}
            <p class="template-dec">This is a template method. a hook into the functionality of this
        class. Feel free to override it in child classes.</p>
        {{/template}}
        {{#if getter}}
            <div class="accessor-method explicit-accessor-method isGetter">
                {{> processMember getter}}
            </div>
        {{/if}}
        {{#autoGetter}}
            <div class="classmembers member accessor-method auto-accessor-method isGetter" data-member-name="get{{capitalize name}}" data-accessor="true">
                <h2 id="{{{$type}}}-get{{capitalize name}}" class="member-header">
                    <a href="#{{{$type}}}-get{{capitalize name}}" class="member-name">
                    get{{capitalize name}}
                    </a>
                    <span class="memberType">{{{type}}}</span>
                </h2>
                <p>Returns the value of {{name}}</p>
                <h3 class="detail-header">Returns</h3>
                <p><span class="memberType">{{{type}}}</span></p>
            </div>
        {{/autoGetter}}
        {{#if setter}}
            <div class="accessor-method isSetter">
                {{> processMember setter}}
            </div>
        {{/if}}
        {{#autoSetter}}
            <div class="classmembers member accessor-method isSetter" data-member-name="set{{capitalize name}}" data-accessor="true">
                <h2 id="{{{$type}}}-set{{capitalize name}}" class="member-header">
                    <a href="#{{{$type}}}-set{{capitalize name}}" class="member-name">
                    set{{capitalize name}}
                    </a>
                    <span class="params-list">({{name}})</span>
                </h2>
                <p>Sets the value of {{name}}</p>
                <h3 class="detail-header">Parameters</h3>
                <p><span class="params-list">{{{name}}}</span> :
                    {{#if type}}
                        <span class="memberType">&nbsp;{{{type}}}</span>
                    {{else}}
                        <span class="memberType">&nbsp;Object</span>
                    {{/if}}
                </p>
            </div>
        {{/autoSetter}}
        </div> 
        {{/unless}}
