<html>
<head>
    <title>{{{name}}}</title>
    <meta charset="UTF-8">
    {{#if stylesheet}}<link rel="stylesheet" type="text/css" href="{{stylesheet}}">{{/if}}
</head>
<body>
<div class="contents">{{{content}}}</div>

{{#if toc}}
    <div class="toc">
        {{#each toc}}
        <div class="toc-item"><a href="#{{this.id}}">{{this.name}}</a></div>
        {{/each}}
    </div>
    {{/if}}
</body>
</html>
