<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}} | Home</title>
    <!--  Generated on {{{date}}} -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    {{#headhtml}}
        {{{.}}}
    {{/headhtml}}
</head>
<body>
<div id="header">
    <div class="logo"><a href="http://docs.sencha.com"><img src="./home-images/sencha_logo1x.png"/></a></div>
    <h2>{{{title}}}
        <span id="menu-icon" class="menu-icon"></span>
        <span id="search-icon" class="search-icon"></span>
        <div id="peekaboo-input" class="peekaboo-input">
            <input type="text" id="mobile-input" />
        </div>
    </h2>
    <div class="search">
        <form autocomplete="off"><input type="text" type="search" placeholder="search" id="searchtext"></form>
    </div>
</div>
<div id="centerContent">
    <div id="class-tree-ct">
        <div id="tree-header">
            <span class="tree-header-text">All Classes</span>
            <div class="resourceLinks">
                <a href="./index.html" id="apiTab"><div class="toolbarHeaderButton">
                    api docs
                    <div class="nav-btn-mask"></div>
                </div></a>
                <a href="./guides/index.html" id="guideTab"><div class="toolbarHeaderButton">
                    guides
                    <div class="nav-btn-mask"></div>
                </div></a>
            </div>
            <div id="hide-class-tree"></div>
        </div>
        <div id="tree-scroller">
            <div id="tree" class="tree-shown"></div>
            <div id="guide-tree" class="tree-shown hide"></div>
            <div class="other-resources">
                <div class="sub-header">
                    Resources
                </div>
                <ul class="resourceMenu">
                    <li>
                        <a href="./index.html">Api Docs</a>
                    </li>
                    <li>
                        <a href="./guides/index.html">Guides</a>
                    </li>
                    <li>
                        <a href="http://examples.sencha.com/extjs/6.0.0/examples/" target="_blank">Examples</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="rightMembers">
        <a href="#" id="back-to-top">top </a>
        <div class="generic-content">
            <div class="homeColumnOne">
                <div class="homeBubble">
                    <h2>What is Ext JS 6?</h2>
                    <p>Sencha Ext JS is the most comprehensive JavaScript framework for building feature-rich cross-platform
                        web applications targeting desktop, tablets, and smartphones. Ext JS leverages HTML5 features on
                        modern browsers while maintaining compatibility and functionality for legacy browsers.</p>
                    <p><a href="https://www.sencha.com/products/extjs/evaluate/">Try it for free</a></p>
                </div>
                <div class="homeBubble">
                    <h2>Getting Started</h2>
                    <p>Start here and we'll guide you through making an application.</p>
                    <ul>
                        <li><a href="http://se.sencha.com/setup-guide/">Setup Guide</a></li>
                        <li><a href="http://docs.sencha.com/extjs/6.0/getting_started/getting_started.html">Getting Started Guide</a></li>
                        <li><a href="http://docs.sencha.com/extjs/6.0/whats_new/6.0.0/extjs_upgrade_guide.html">Ext JS 5 to Ext JS 6 Upgrade Guide</a></li>
                        <li><a href="http://docs.sencha.com/extjs/6.0/whats_new/6.0.0/modern_upgrade_guide.html">Sencha Touch to Ext JS 6 Upgrade Guide</a></li>
                        <li><a href="http://docs.sencha.com/cmd/6.x/intro_to_cmd.html">Introduction to Sencha Cmd</a></li>
                        <li><a href="http://docs.sencha.com/cmd/6.x/extjs/cmd_app.html">Using Sencha Cmd</a></li>
                        <li><a href="http://docs.sencha.com/tools/">Handy Tools</a></li>
                        <li><a href="http://www.ladysign-apps.com/developer/how-to-improve-your-sencha-code-while-working-in-large-teams">Article: Sencha workflow for large teams</a></li>
                    </ul>
                </div>
                <div class="homeBubble">
                    <h2>Tutorials</h2>
                    <p>Follow along with some expert Sencha developers to get up and running with your own application.</p>
                    <ul>
                        <li><a href="http://docs.sencha.com/extjs/6.0/tutorials/login_app.html">Tutorial Getting Started</a></li>
                        <li><a href="https://www.sencha.com/blog/how-to-build-a-great-looking-universal-app-with-ext-js-part-1/">How to build a great looking universal app (part I)</a></li>
                        <li><a href="https://www.sencha.com/blog/how-to-build-a-great-looking-universal-app-with-ext-js-part-2/">How to build a great looking universal app (part II)</a></li>
                        <li><a href="https://www.sencha.com/blog/how-to-upgrade-a-sencha-touch-app-to-ext-js-6-modern-toolkit-part-1/">How to upgrade a Sencha Touch app to Ext JS 6 Modern Toolkit (part I)</a></li>
                        <li><a href="https://www.sencha.com/blog/how-to-upgrade-a-sencha-touch-app-to-ext-js-6-modern-toolkit-part-2/">How to upgrade a Sencha Touch app to Ext JS 6 Modern Toolkit (part II)</a></li>
                        <li><a href="https://www.sencha.com/blog/how-to-upgrade-a-sencha-touch-app-to-ext-js-6-modern-toolkit-part-3/">How to upgrade a Sencha Touch app to Ext JS 6 Modern Toolkit (part III)</a></li>
                    </ul>
                </div>
                <div class="homeBubble">
                    <h2>Examples</h2>
                    <p>See what the framework can really do by checking out some of the Ext JS 6 examples.</p>
                    <ul>
                        <li><a href="http://examples.sencha.com/extjs/6.0.0/examples/">Ext JS examples</a></li>
                        <li><a href="http://examples.sencha.com/extjs/6.0.0/examples/kitchensink/">KitchenSink</a></li>
                        <li><a href="http://examples.sencha.com/extjs/6.0.0/examples/kitchensink/?charts=true#all">Charts KitchenSink</a></li>
                        <li><a href="http://examples.sencha.com/extjs/6.0.0/examples/admin-dashboard/#dashboard">App Template: Dashboard</a></li>
                        <li><a href="http://examples.sencha.com/extjs/6.0.0/examples/classic/ticket-app/index.html">Example: Tickets App</a></li>
                        <li><a href="http://examples.sencha.com/extjs/6.0.0/examples/classic/executive-dashboard/index.html">Example: Executive Dashboard</a></li>
                        <li><a href="https://www.sencha.com/webinars/secrets-to-building-a-great-looking-universal-app/">Webinar: Secrets to building a great looking universal app</a></li>
                    </ul>
                </div>
                <div class="homeBubble">
                    <h2>Ext JS 6 Licensing</h2>
                    <p>Sencha Ext JS is made available under Commercial License or the GNU General Public License
                        version 3 (GPLv3). The Commercial License requires the payment of a fee for each Designated User
                        (i.e. developer). If you choose not to pay a fee and use the GPLv3 license, you are generally
                        required to release the source code of any program that you distribute that uses Ext JS. If you
                        choose to pay for a Commercial License, you are not required to disclose your source code.</p>
                    <p><a href="http://www.sencha.com/legal/#Sencha_Ext_JS">Licensing</a></p>
                </div>
            </div>
            <div class="homeColumnTwo">
                <div class="homeBubble">
                    <h2>Developer Docs</h2>
                    <p>By following this path to getting started with ExtJS, you'll be up-and-running in no time.  Once
                        you've read through these articles, you can dig inout our more robust API Documentation.</p>
                    <ul>
                        <li><a href="http://docs.sencha.com/extjs/6.0/6.0.0-classic/">Classic API Docs</a></li>
                        <li><a href="http://docs.sencha.com/extjs/6.0/6.0.0-modern/">Modern API Docs</a></li>
                        <li><a href="http://docs.sencha.com/extjs/6.0/">Guides</a></li>
                    </ul>
                </div>
                <div class="homeBubble">
                    <h2>Design & Theming</h2>
                    <p>Explore the expansive possibilities when it comes to styling your Ext JS application.</p>
                    <ul>
                        <li><a href="http://pages.sencha.com/Stencils_LP_1.html">Sencha Design Stencils for Illustrator, Omnigraffle &amp; Sketch</a></li>
                        <li><a href="http://examples.sencha.com/extjs/6.0.0/examples/classic/themes/index.html">Theme Viewer</a></li>
                        <li><a href="http://docs.sencha.com/extjs/6.0/core_concepts/theming.html">Theming Guide</a></li>
                        <li><a href="http://docs.sencha.com/extjs/6.0/whats_new/6.0.0/fashion.html">Fashion</a></li>
                        <li><a href="http://www.sencha.com/blog/designing-responsive-applications-with-ext-js/">Responsive Design</a></li>
                        <li><a href="https://www.sencha.com/blog/how-to-create-a-dark-ext-js-theme-part-1/">Tutorial: How to Create a Dark Ext JS Theme (part I)</a></li>
                        <li><a href="https://www.sencha.com/blog/how-to-create-a-dark-ext-js-theme-part-2/">Tutorial: How to Create a Dark Ext JS Theme (part II)</a></li>
                    </ul>
                </div>
                <div class="homeBubble">
                    <h2>Sencha Test</h2>
                    <p>Sencha Test is a new addition to the Sencha platform that will help you create unit an
                        end-to-end functional tests quickly, and execute them on multiple browsers simultaneously.</p>
                    <ul>
                        <li><a href="https://www.sencha.com/blog/sencha-test-beta-is-now-available/">Blog post: Sencha Test Beta release</a></li>
                        <li><a href="http://pages.sencha.com/TestBeta.html">Download Sencha Test Beta</a></li>
                        <li><a href="http://docs.sencha.com/sencha_test/">Sencha Test documentation</a></li>
                    </ul>
                </div>
                <div class="homeBubble">
                    <h2>Deployment</h2>
                    <p>There are various solutions when it comes to deploying your web application.  You can create a production build
                    for web or native with a consumer solution like Apache Cordova or Adobe PhoneGap, or a secure
                    B2B/B2E solution like Sencha's own Web Application Manager.</p>
                    <ul>
                        <li><a href="http://docs.sencha.com/cmd/6.x/intro_to_cmd.html">Deploy for Web with Sencha Cmd</a></li>
                        <li><a href="http://docs.sencha.com/cmd/6.x/advanced_cmd/cmd_build.html">Inside the App Build Process</a></li>
                        <li><a href="http://docs.sencha.com/cmd/6.x/cordova_phonegap.html">Deploy with Cordova/PhoneGap</a></li>
                        <li><a href="http://www.ladysign-apps.com/developer/make-a-native-build-with-ext-js-5-sencha-cmd-5-and-phonegap-cordova-with-plugins/">Tutorial: Deploy Ext JS with Cordova</a></li>
                    </ul>
                </div>
                <div class="homeBubble">
                    <h2>Videos</h2>
                    <p>Check out Sencha's Vimeo channel, filled with tutorials, walk-throughs, announcements, and a
                    whole lot more!</p>
                    <ul>
                        <li><a href="https://vimeo.com/sencha">Vimeo</a></li>
                        <li><a href="http://pages.sencha.com/SenchaCon-Videos.html">Premium Videos</a></li>
                        <li><a href="http://pages.sencha.com/SenchaCon-Videos.html">SenchaCon Videos</a></li>
                        <li><a href="http://pages.sencha.com/SenchaCon-Videos.html">Get SenchaCon Videos Login Access</a></li>
                        <li><a href="https://vimeo.com/album/3373760/video/127507268">Advanced theming techniques SenchaCon video (requires the above login)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <p>
        <a href="https://www.facebook.com/senchainc/" target="_blank"><img class="social" src="./home-images/fb.png"/></a>
        <a href="https://www.linkedin.com/company/sencha-inc" target="_blank"><img class="social" src="./home-images/in.png"/></a>
        <a href="https://twitter.com/Sencha" target="_blank"><img class="social" src="./home-images/twt.png"/></a>
        {{{footer}}}
    </p>
</div>
</body>
<script type="text/javascript">
    var ExtL   = ExtL || {},
        isHome = true;
</script>
<script type="text/javascript" src="js/tree.js"></script>
<script type="text/javascript" src="guides/js/guide-tree.js"></script>
<script type="text/javascript" src="js/searchIndex.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1396058-28', 'auto');
    ga('send', 'pageview');

</script>
</html>
