<!DOCTYPE html>
<html>
<head>
    <title>{{{name}}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if stylesheet}}<link rel="stylesheet" type="text/css" href="{{stylesheet}}">{{/if}}
</head>
<body>
<div id="header">
    <div class="logo"><img src="../{{pathPrefix}}/home-images/sencha_logo1x.png"/></div>
    <h2>{{{name}}}
        <span id="menu-icon" class="menu-icon"></span>
        <span id="search-icon" class="search-icon"></span>
        <div id="peekaboo-input" class="peekaboo-input">
            <input type="text" id="mobile-input" />
        </div>
    </h2>
    <div class="search">
        <form><input type="text" placeholder="search" id="searchtext"></form>
        <div id="searchresults">
            <ul id="searchresultslist" class="hide"></ul>
        </div>
    </div>
    <div class="resourceLinks">
        <a href="../{{pathPrefix}}index.html"><div class="toolbarButton">
            api docs
            <div class="nav-btn-mask"></div>
        </div></a>
        <a href="./{{pathPrefix}}index.html"><div class="toolbarButton">
            guides
            <div class="nav-btn-mask"></div>
        </div></a>
    </div>
</div>
<div id="centerContent">
    <div id="class-tree-ct">
        <div id="tree-header">
            <span class="tree-header-text">All Guides</span>
            <div id="hide-class-tree"></div>
        </div>
        <div id="tree" class="tree-shown"></div>
    </div>
    <div id="rightMembers">
        <a href="#" id="back-to-top">top </a>
        <div class="generic-content">
            <div class="homeColumnOne">
                <div class="homeBubble">
                    <h2>Getting Started</h2>
                    <p>Sencha Test is a new addition to the Sencha platform that will help you create unit and end-to-end
                        functional tests quickly, and execute them on multiple browsers simultaneously.</p>
                    <p><a href="product_overview.html">Sencha Test Overview</a></p>
                    <p><a href="sencha_test_installation.html">Setup & Getting Started</a></p>
                </div>
                <div class="homeBubble">
                    <h2>Test Resources</h2>
                    <p><a href="../index.html">API Docs</a></p>
                    <p><a href="test_projects_scenarios_suites.html">Projects, Scenarios, and Suites</a></p>
                </div>
            </div>
            <div class="homeColumnTwo">
                <div class="homeBubble">
                    <h2>How to Test</h2>
                    <p><a href="unit_functional_tests.html">Unit vs: Functional Testing</a></p>
                    <p><a href="testing_applications.html">How to Test Applications</a></p>
                    <p><a href="using_the_test_runner.html">Using the Test Runner</a></p>
                </div>
                <div class="homeBubble">
                    <h2>Integrating Sencha Test</h2>
                    <p><a href="using_the_test_runner.html">Using the Test Runner</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <p>
        <a href="https://www.facebook.com/senchainc/" target="_blank"><img class="social" src="../{{pathPrefix}}/home-images/fb.png"/></a>
        <a href="https://twitter.com/Sencha" target="_blank"><img class="social" src="../{{pathPrefix}}/home-images/in.png"/></a>
        <a href="https://www.linkedin.com/company/sencha-inc" target="_blank"><img class="social" src="../{{pathPrefix}}/home-images/twt.png"/></a>
        {{{footer}}} Generated on {{{date}}}
    </p>
</div>
</body>
<script type="text/javascript">
    var ExtL = ExtL || {},
            isHome = true;

    ExtL.treeData = {{{tree}}};
</script>
<script type="text/javascript" src="js/searchIndex.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
<script type="text/javascript" src="js/home.js"></script>
<script>
    if (ExtL.treeData) {
        tree = new TreeView(ExtL.treeData, 'tree', '{{{pathPrefix}}}');
    }
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1396058-28', 'auto');
    ga('send', 'pageview');

</script>
</html>