<div id="footer" class="relative bottom-0 left-0 right-0 bg-near-white cf tr bt b--mid-gray z-0 f6">
    <p class="di">
        <a href="https://www.facebook.com/senchainc/" target="_blank"><img class="social" src="{{imagePath}}fb.png"/></a>
        <a href="https://www.linkedin.com/company/sencha-inc" target="_blank"><img class="social" src="{{imagePath}}in.png"/></a>
        <a href="https://twitter.com/Sencha" target="_blank"><img class="social" src="{{imagePath}}twt.png"/></a>
        {{{title}}} {{{numVer}}} {{#if meta}}- {{{meta}}}{{/if}} | <a href='https://www.sencha.com/legal/terms-of-use/' target='_blank'>Terms of Use</a>
    </p>
</div>
