<div class="context-menu-ct">
    <div class="context-header dn ma0 bg-dark-blue">
        <div id="hide-context-menu" class="fa fa-caret-right white f4 pointer tc"></div>
    </div>
    
    {{> _search}}

    <div id="toc-context-ct">
        <!-- context content added at runtime -->
    </div>
</div>
<div class="guide-body-wrap absolute absolute--fill overflow-x-hidden overflow-y-auto bg-white">
    <div class="body-wrap-inner min-h-100">
        <div id="toggleExamples" class="fa fa-code tooltip tooltip-tr-br absolute bg-blue no-underline fr pointer br2 tc overflow-hidden z-0 white right-1 top-1 pa2" data-toggle="Expand All Examples"><div class="callout callout-b"></div></div>
        <div class="classText cf">
            {{#if appliesToToolkit}}
                <div class="toolkit-badge-ct {{appliesToToolkit}}-badge dn bg-near-white">
                    Guide applies to:
                    <span class="toolkit-badge {{appliesToToolkit}} b orange">
                        {{#is appliesToToolkit "classic"}}classic{{/is}}
                        {{#is appliesToToolkit "modern"}}modern{{/is}}
                        {{#is appliesToToolkit "universal"}}classic &amp; modern{{/is}}
                    </span>
                </div>
            {{/if}}
            {{#if toc}}
                <div class="toc bg-near-white ba bw1 b--light-gray br2 fr b lh-copy gray">
                    <h2 class="ma0 f4 b">Contents</h2>
                    {{#each toc}}
                        <a class="toc-page-{{this.tag}} link underline-hover db lh-copy gray " href="#{{this.id}}">{{{this.name}}}</a>
                    {{/each}}
                </div>
            {{/if}}
            {{#if tier}}
                <span class="guide-tags"><span class="{{{tier}}}">{{{tier}}}</span></span>
            {{/if}}
            {{{content}}}
        </div>
    </div>
    {{> _footer}}
</div>