<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}}</title>
    <!--  Generated on {{{date}}} -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta property="og:image" content="{{imagePath}}sencha-200.png" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:site_name" content="Sencha Documentation" />
    <meta property="og:url" content="{{canonical}}" />
    <meta name="description" content="{{{description}}}">
    {{#if stylesheet}}
        <link rel="stylesheet" type="text/css" href="{{cssPath}}{{stylesheet}}">
    {{/if}}
    {{#headhtml}}
        {{{.}}}
    {{/headhtml}}
</head>
<body class="{{#isHome}}is-home{{/isHome}}{{#isGuide}} is-guide{{/isGuide}}{{#isApi}} is-api{{/isApi}}">
<script type="text/javascript">
    function getOS() {
        var userAgent = navigator.userAgent || navigator.vendor || window.opera;

        if(/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
            return 'ios';
        } else if(userAgent.match(/Android/i)) {
            return 'android';
        }
    }

    document.body.className += ' ' + getOS()
</script>
<div id="header">
    <div class="logo">
        <a href="http://docs.sencha.com"><img src="{{imagePath}}sencha_logo1x.png"/></a>
    </div>
    <span id="mobile-main-nav-menu-btn" class="fa fa-bars"></span>
    {{#isApi}}
        <a class="page-title {{classType}}" href="{{{fileName}}}" target="_blank">{{{name}}}</a>
    {{/isApi}}
    {{#isHome}}
        <div class="page-title">{{{title}}}</div>
    {{/isHome}}
    {{#isGuide}}
        <div class="page-title">{{{name}}}</div>
    {{/isGuide}}
    <span id="mobile-context-menu-btn" class="fa fa-cog"></span>
    <h2 class="product-header"><a href="{{homePath}}index.html">{{{title}}}</a>
        <span class="fa fa-chevron-circle-down product-menu-btn"></span>
        <!-- <span id="menu-icon" class="menu-icon"></span>
        <span id="search-icon" class="search-icon"></span> -->
        <div id="peekaboo-input" class="peekaboo-input">
            <input type="text" id="mobile-input" />
        </div>
    </h2>
</div>
<div id="centerContent">
    <div id="class-tree-ct">
        <h2 class="product-header">
            <div class="logo">
                <a href="http://docs.sencha.com"><img src="{{imagePath}}sencha_logo1x.png"/></a>
            </div>
            <a href="{{homePath}}index.html">{{{title}}}</a>
            <span class="fa fa-chevron-circle-down product-menu-btn"></span>
        </h2>
        <div id="tree-header">
            <div id="apiTab" class="toolbarHeaderButton{{#isApi}} active-tab{{/isApi}}">
                API Docs
            </div>
            <div id="guideTab" class="toolbarHeaderButton{{#isGuide}} active-tab{{/isGuide}}">
                Guides
            </div>
            <div id="hide-class-tree"></div>
        </div>
        <div id="tree-scroller">
            <div id="tree" class="tree-shown"></div>
            <div id="guide-tree" class="tree-shown hide"></div>
        </div>
    </div>
    <div id="product-tree-ct" class="hide">
        <h2 class="product-header">
            <div class="logo">
                <a href="http://docs.sencha.com"><img src="{{imagePath}}sencha_logo1x.png"/></a>
            </div>
            <a href="{{homePath}}index.html">{{{title}}}</a>
            <span class="fa fa-chevron-circle-down product-menu-btn"></span>
        </h2>
        <div id="product-tree"></div>
        <div class="product-tree-header">
            Product Menu
        </div>
        <span id="product-tree-close-btn" class="fa fa-times"></span>
    </div>
    <a href="#" id="back-to-top">top </a>
    <div id="rightMembers" class="show-public show-protected show-private">
        {{#isHome}}
            <div class="context-menu-ct">
                <div class="context-header">
                    <div id="hide-context-menu" class="fa fa-caret-right"></div>
                </div>
                <div class="search">
                    <form autocomplete="off"><input type="text" type="search" placeholder="search" id="searchtext"></form>
                </div>
                <!-- context content added at runtime -->
            </div>
        {{/isHome}}
        {{#if isHome}}{{> homePartial}}{{/if}}
        {{#if isGuide}}{{> guidePartial}}{{/if}}
        {{#if isApi}}{{> apiPartial}}{{/if}}
    </div>
</div>
</body>
<script type="text/javascript">
    var ExtL   = ExtL || {},
        {{#if fiddleId}}fiddleId = {{fiddleId}},{{/if}}
        isClassTemplate = {{#if isApi}}true{{else}}false{{/if}},
        isHome = {{#if isHome}}true{{else}}false{{/if}},
        isApi = {{#if isApi}}true{{else}}false{{/if}},
        isGuide = {{#if isGuide}}true{{else}}false{{/if}},
        homePath = '{{homePath}}',
        product = '{{product}}',
        pversion = '{{pversion}}';
</script>
{{#if hasApi}}
    <script type="text/javascript" src="{{jsPath}}tree.js"></script>
    <script type="text/javascript" src="{{jsPath}}searchIndex.js"></script>
{{/if}}
{{#if hasGuides}}
<script type="text/javascript" src="{{jsPath}}guide-tree.js"></script>
<script type="text/javascript" src="{{jsPath}}guideSearch.js"></script>
{{/if}}
<script type="text/javascript" src="{{jsPath}}product-map.js"></script>
<script type="text/javascript" src="{{jsPath}}ace.js"></script>
<script type="text/javascript" src="{{jsPath}}app.js"></script>

<!--[if lt IE 9 ]>
<script type="text/javascript" src="{{jsPath}}media-query-poly.js"></script>
<style>
    span.da-inline-fiddle-nav-fiddle.x-fa.fa-play-circle {
        display: none;
    }
</style>
<![endif]-->

<script>
    if (navigator.userAgent.indexOf("Safari") > -1) {
        window.onpageshow = function(event) {
            if (event.persisted) {
                window.location.reload()
            }
        };
    }

    document.onreadystatechange = function () {
        if (document.readyState == "interactive") {
            //
        }
    }
</script>
<style>
    /*!
     *  Font Awesome 4.5.0 by @davegandy - http://fontawesome.io - @fontawesome
     *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
     */
    /* FONT PATH
     * -------------------------- */
    @font-face {
        font-family: 'FontAwesome';
        src: url('{{cssPath}}fonts/fontawesome-webfont.eot?v=4.5.0');
        src: url('{{cssPath}}fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
        url('{{cssPath}}fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
        url('{{cssPath}}fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'),
        url('{{cssPath}}fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
        url('{{cssPath}}fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

</style>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-1396058-28', 'auto');
    ga('send', 'pageview');
</script>

<!--[if gte IE 9]><!-->
<script type="text/javascript">
    adroll_adv_id = "5RM2BL5IGRFLRG5VDQ7OIE";
    adroll_pix_id = "LWO7UZXBFVESTOMYFI2LYS";
    /* OPTIONAL: provide email to improve user identification */
    /* adroll_email = "username@example.com"; */
    (function () {
        var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
            document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>
<!--<![endif]-->

</html>
