{{#unless hide}}
    <div id="{{{$type}}}-{{{name}}}" class="classmembers member{{#access}}-{{{.}}}{{/access}} {{#if static}}isStatic{{else}}isNotStatic{{/if}} {{#is $type "config"}}{{#if required}}isRequired{{else}}isNotRequired{{/if}}{{/is}} {{#if isInherited}}isInherited{{else}}is-not-inherited{{/if}} {{#deprecatedMessage}}deprecated-strike{{/deprecatedMessage}} {{#fromObject}}fromObject{{/fromObject}} {{#isGetter}}accessor-method explicit-accessor-method isGetter{{/isGetter}} {{#isSetter}}accessor-method explicit-accessor-method isSetter{{/isSetter}}" data-member-name="{{{name}}}" {{#accessor}} data-accessor="true"{{/accessor}}{{#inheritdoc}} data-inherited="true"{{/inheritdoc}}>
        <div class="collapse-toggle"></div>
        <div class="source-class"><a href="{{srcClass}}.html">{{srcClass}}{{{srcLink}}}</a></div>
        <h2 class="member-header">
            <a href="#{{$type}}-{{name}}" class="member-name-link"><span data-ref="{{$type}}-{{name}}" class="member-name">{{{name}}}</span></a>
            {{#if listParams}}<span class="params-list"> (
                {{#is $type "css_mixin"}}
                    ...list...
                {{else}}
                    {{#params}}
                        {{#unless @first}}, {{/unless}}
                        {{#if optional}}[{{/if}}{{{name}}}{{#if optional}}]{{/if}}
                        {{#if @last}}
                            {{#is ../$type "event"}}, eOpts{{/is}}
                        {{/if}}
                    {{/params}}
                {{/is}}

                )</span>
            {{/if}}

            {{#if listReturn}}
                :
                {{#returns}}
                    <span class="memberType">{{{type}}}</span>
                {{/returns}}
            {{/if}}

            {{#type}}
                : <span class="memberType">{{{.}}}</span>
            {{/type}}
            <div class="member-tags">
                {{#chainable}}
                    <span class="chainable full-flag">chainable</span>
                    <span class="chainable mini-flag">ch</span>
                {{/chainable}}
                {{#deprecatedMessage}}
                    <span class="deprecated full-flag">deprecated</span>
                    <span class="deprecated mini-flag">dep</span>
                {{/deprecatedMessage}}
                {{#setter}}
                    <span class="bindable full-flag">bindable</span>
                    <span class="bindable mini-flag">bind</span>
                {{/setter}}
                {{#autoSetter}}
                    <span class="bindable full-flag">bindable</span>
                    <span class="bindable mini-flag">bind</span>
                {{/autoSetter}}
                {{#preventable}}
                    <span class="preventable full-flag">preventable</span>
                    <span class="preventable mini-flag">prev</span>
                {{/preventable}}
                {{#readonly}}
                    <span class="readonly full-flag">readonly</span>
                    <span class="readonly mini-flag">ro</span>
                {{/readonly}}
                {{#static}}
                    <span class="static full-flag">static</span>
                    <span class="static mini-flag">sta</span>
                {{/static}}
                {{#required}}
                    <span class="required full-flag">required</span>
                    <span class="required mini-flag">req</span>
                {{/required}}
                {{#template}}
                    <span class="template full-flag">template</span>
                    <span class="template mini-flag">tpl</span>
                {{/template}}
                {{#removedVersion}}
                    <span class="removed full-flag">removed</span>
                    <span class="removed mini-flag">rem</span>
                {{/removedVersion}}
                {{#abstract}}
                    <span class="abstract full-flag">abstract</span>
                    <span class="abstract mini-flag">abs</span>
                {{/abstract}}
                {{#if access}}
                    <span class="{{{access}}} full-flag">{{{access}}}</span>
                    <span class="{{{access}}} mini-flag">{{accessMini}}</span>
                {{/if}}
            </div>
        </h2></a>

        {{#text}}
            {{{.}}}
        {{/text}}
        {{#exists value}}
            <p class="defaults-to-dec">Defaults to: {{{value}}}</p>
        {{/exists}}
        {{#since}}
            <p class="since-dec">Available since: <b>{{{.}}}</b></p>
        {{/since}}
        {{#if hasParams}}
            <h3 class="detail-header">Parameters</h3>
            {{#params}}
                <p><span class="params-list" id="{{../$type}}-{{../name}}--{{name}}">{{{name}}}</span> :
                    {{#if type}}
                        <span class="memberType">&nbsp;{{{type}}}</span>
                    {{else}}
                        <span class="memberType">&nbsp;Object</span>
                    {{/if}}
                    {{#if optional}}<i class="memberType">(optional)</i>{{/if}}
                </p>
                <div class="params-desc">{{{text}}}</div>
                {{#exists value}}
                    <p class="defaults-to-dec">Defaults to: {{{value}}}</p>
                {{/exists}}

                {{#if items}}
                    {{> subParamsPartial}}
                {{/if}}

                {{#if @last}}

                    {{#is ../$type "event"}}
                        <p><span class="params-list">eOpts</span> : <span class="memberType"><a href="Object.html">Object</a></span></p>
                        <p>The options object passed to <a href="Ext.util.Observable.html">Ext.util.Observable.addListener</a>.</p>
                    {{/is}}
                {{/if}}
            {{/params}}
        {{/if}}
        {{#if hasProperties}}
            <h3 class="detail-header">Properties</h3>
            {{#properties}}
                <p><span class="params-list">{{{name}}}</span> : <span class="memberType">{{{type}}}</span></p>
                <p>{{{text}}}</p>
                {{#exists value}}
                    <p class="defaults-to-dec">Defaults to: {{{value}}}</p>
                {{/exists}}

                {{#if items}}
                    {{> subParamsPartial}}
                {{/if}}
            {{/properties}}
        {{/if}}
        {{#if hasReturn}}
            <h3 class="detail-header">Returns</h3>
            {{#returns}}
                <span style="margin-left:12px;" class="memberType">{{{type}}}</span>
                <div class="return-desc">{{{text}}}</div>

                {{#if items}}
                    {{> subParamsPartial}}
                {{/if}}
            {{/returns}}
        {{/if}}
        {{#if deprecatedMessage}}
            <p class="deprecated-dec">Deprecated{{#if deprecatedVersion}}: {{deprecatedVersion}}{{/if}}<br>{{{deprecatedMessage}}}</p>
        {{/if}}
        {{#preventable}}
            <p class="preventable-dec">This action following this event is preventable. When any
                of the listeners returns false, the action is cancelled.</p>
        {{/preventable}}
        {{#removedVersion}}
            <p class="removed-dec">This method has been REMOVED since {{{.}}}</p>
        {{/removedVersion}}
        {{#template}}
            <p class="template-dec">This is a template method. a hook into the functionality of this
                class. Feel free to override it in child classes.</p>
        {{/template}}
        {{#if getter}}
            {{> processMember getter}}
        {{/if}}
        {{#autoGetter}}
            <div id="{{{$type}}}-get{{capitalize name}}" class="classmembers member accessor-method auto-accessor-method isGetter" data-member-name="get{{capitalize name}}" data-accessor="true">
                <div class="collapse-toggle"></div>
                <h2 class="member-header">
                    <a data-ref="{{{$type}}}-get{{capitalize name}}" href="#{{{$type}}}-get{{capitalize name}}" class="member-name">
                        get{{capitalize name}}
                    </a>
                    <span class="memberType">{{{type}}}</span>
                </h2>
                <p>Returns the value of {{name}}</p>
                <h3 class="detail-header">Returns</h3>
                <p><span class="memberType">{{{type}}}</span></p>
            </div>
        {{/autoGetter}}
        {{#if setter}}
            {{> processMember setter}}
        {{/if}}
        {{#autoSetter}}
            <div id="{{{$type}}}-set{{capitalize name}}" class="classmembers member accessor-method isSetter" data-member-name="set{{capitalize name}}" data-accessor="true">
                <div class="collapse-toggle"></div>
                <h2 class="member-header">
                    <a data-ref="{{{$type}}}-set{{capitalize name}}" href="#{{{$type}}}-set{{capitalize name}}" class="member-name">
                        set{{capitalize name}}
                    </a>
                    <span class="params-list">({{name}})</span>
                </h2>
                <p>Sets the value of {{name}}</p>
                <h3 class="detail-header">Parameters</h3>
                <p><span class="params-list">{{{name}}}</span> :
                    {{#if type}}
                        <span class="memberType">&nbsp;{{{type}}}</span>
                    {{else}}
                        <span class="memberType">&nbsp;Object</span>
                    {{/if}}
                </p>
            </div>
        {{/autoSetter}}
    </div>
{{/unless}}
