<div class="tree-leaf tree-member">
    <div class="tree-leaf-content" id="node-{{elIdSlug}}" isLeaf="{{leaf}}">
        <a class="tree-leaf-text"{{#if preparedHref}} href="{{preparedHref}}"{{/if}}>
            <div class="quick-start-text-ct">
                <span class="quick-start-count">{{count}}</span>
                <div class="quick-start-text">{{{name}}}</div>
                <div class="quick-start-summary">{{summary}}</div>
            </div>
        </a>
    </div>
</div>
