<div class="sub-params-list">
    {{#items}}
        <p><span class="params-list" id="{{../$type}}-{{../name}}--{{name}}">{{{name}}}</span> :
            {{#if type}}
                <span class="memberType">&nbsp;{{{type}}}</span>
            {{else}}
                <span class="memberType">&nbsp;Object</span>
            {{/if}}
            {{#if optional}}<i class="memberType">(optional)</i>{{/if}}
        </p>
        <div class="params-desc">{{text}}</div>
        {{#exists value}}
            <p class="defaults-to-dec">Defaults to: {{{value}}}</p>
        {{/exists}}

        {{#if items}}
            {{> subParamsPartial}}
        {{/if}}
    {{/items}}
</div>
