<div class="sub-params-list">
    <h1>boom shacka</h1>
    {{#items}}
        <h1>NO ITEMS?</h1>
        <div class="param-row">
            <p><span class="params-list" id="{{../$type}}-{{../name}}--{{name}}">{{{name}}}</span> :
                {{#if type}}
                    <span class="memberType">&nbsp;{{{type}}}</span>
                {{else}}
                    <span class="memberType">&nbsp;Object</span>
                {{/if}}
                {{#if optional}}<i class="memberType">(optional)</i>{{/if}}
            </p>
            <div class="params-desc">{{{text}}}</div>
            {{#exists value}}
                <p class="defaults-to-dec">Defaults to: {{{value}}}</p>
            {{/exists}}

            {{#if items}}
                <h1>HI BUDDY!</h1>
                {{> subParamsPartial}}
            {{/if}}

            {{#if items.items}}
                <h1>AND CHILDRENS?</h1>
                {{> subParamsPartial}}
            {{/if}}
        </div>
    {{/items}}
</div>
