<div class="tree-leaf tree-member{{#access}}-{{{.}}}{{/access}}">
    <div class="tree-leaf-content{{#if leaf}} isLeaf{{/if}}" id="{{#if leaf}}node{{else}}branch{{/if}}-{{elIdSlug}}" isLeaf="{{leaf}}">
        <span class="tree-expando{{#if leaf}} hidden{{/if}}">▸</span>
        {{!-- {{#if children}}
            <span class="folder-type"></span>
        {{else}}
            <span class="{{#if type}}{{type}}{{else}}class{{/if}}-type"></span>
        {{/if}} --}}
        {{#if isSingleton}}
            <span class="singleton-type"></span>
        {{else}}
            {{#if children}}
                <span class="folder-type"></span>
            {{else}}
                <span class="{{#if type}}{{type}}{{else}}class{{/if}}-type"></span>
            {{/if}}
        {{/if}}
        {{#if compound}}
            <span class="tree-leaf-text">{{{name}}}
                {{#toolkits}}
                    <a {{#if preparedHref}} href="{{preparedHref}}"{{/if}}>{{{name}}}</a>
                {{/toolkits}}
            </span>
        {{else}}
            <a class="tree-leaf-text"{{#if preparedHref}} href="{{preparedHref}}"{{/if}}>{{{name}}}</a>
        {{/if}}
    </div>
    {{#if children}}
        <div class="tree-child-leaves hidden">
            {{#each children}}
                {{> treeNodePartial}}
            {{/each}}
        </div>
    {{/if}}
</div>
